.op-left{
position:absolute;
z-index:1;
inset:0px;
background:linear-gradient(270deg, rgb(255, 255, 2) , rgba(203, 27, 27,0.1) , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0.1) , rgb(255, 255, 255) )
}
.op{
    opacity:0.9;
    
}
@media  only screen and (max-width:450px) {
    /* h&r */
    .w450{
        height:500px;
    }
    .b460{
        bottom:460px;
    }
    .w700{
        width:700px;
    }
}
@media only screen and (max-width:390px){
    /* h&r */
    .b500{
        bottom:520px;
    }
    .col{
        display:flex;
        flex-direction:column;
        
    }
    .W-logo{
        width:25px;
        height:25px;
    }
    .W-logo1{
        width:35px;
    }
  
}
@media only screen and (max-width:640px){
    .top{
        position:sticky;
        top:0;
        background-color:#fff
       }
       .left{
        position:sticky;
        left:0;
        background-color:white
       }
}


/* .para{
    display:none;
} */

/* Blog style */
.hvr:hover ul{
    display:flex;
    flex-direction: column;
}
.list-bar{
    width:1px;
    height:16px;
   

}


@media only screen and (max-width:450px){
    .mb_450{
        margin-top:10px
    }
    .ellipsis-w{
        max-width:400px;
    }
    .flex-dir{
        display:flex;
        flex-direction:column;
        align-items: start;
    }

}
@media only screen and (max-width:390px){
    .ellipsis-w{
        max-width:300px
    }
    
    
}
@media(max-width:280px){
    .margintop{
        top:150px
    }
}

@media (max-width:300px) {
    .email-w{
        width:120px;
    }
    
}
@media (max-width:450px) {
   .date{
        font-size:20px;
   }
   .text-size{
    font-size:20px;
}
}
@media (max-width:640px) {
  .font-size{
    font-size:20px;
    margin-bottom: 10px;
  }
  .ml{
    margin-right:10px;
    margin-left:20px;
  }
  .list-bar:before{
    margin-inline-start: 20px;
  }
.ps-b{
    bottom:-45%
}
.date{
    font-size:15px;
  
}

 
}
@media(min-width:640px){
    .text-size{
        font-size:25px;
    }
}
@media(min-width:768px){
    .ps-b{
        bottom:50%
    }
}
@media(max-width:1024px){
   
}
@media(min-width:1280px){
 .p-h{
    padding:40px;
 }
}


@media(max-width:1280px){
    .mb_300px { 
        margin-bottom:300px;
    }
   

}

@media(min-width:1536px){
    .mb_300px{
        margin-bottom:400px;
    }
    .ps-b{
        bottom:60%;
    }
}
.gp-hover:hover .img-scale {
    transform:scale(1.05);
    transition-duration: 300ms;
}

